body {
    background-color:hsl(47, 88%, 63%);
    font-family: 'Figtree';
    padding: 150px;
    
}
.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: 20vw;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 5px 5px black;
}
#img {
    width:20vw;
    border-radius: 10px;
}
button {
    background-color:hsl(47, 88%, 63%);
    border-radius: 5px;    
}
h5 {
    color:hsl(0, 0%, 42%);
}
p{
    color:hsl(0, 0%, 7%);
    font-size: small;
}
.footer{
    display: flex;
}
.footer h5 {
    color: black;
    font-size:x-small;
}
.footer img {
    transform: scale(0.4);
}
